*{
    margin:0;
    padding:0;
}
/*Cuadro de instruccion inicial*/
.hide{
    display:none;
}
/*Carro jugador*/
.car{
    height:120px;
    border-radius: 10px;
    width:50px;
    position:absolute;
    bottom:120px;
    background:url(../recursos/car2.jpg);
    background-repeat: no-repeat;
    background-size: 50px 120px;
}
/*Fondo juego*/
.carGame{
    width:100%;
    height:100vw;
    background: #0e5d85;
    background-image: url(../recursos/bosque.jpeg);
    background-repeat:no-repeat;
    background-size:100% 100%;
}
/*Linea del medio*/
.lines{
    width:10px;
    height:100px;
    background: white;
    position:absolute;
    margin-left:50%;
}
/*carretera*/
.gameArea{
    height:100vh;
    width:400px;
    background: #373737;
    margin:auto;
    position:relative;
    overflow:hidden;
    border-right:7px solid #c8d6e5;
    border-left:7px solid #c8d6e5;
}
/* carros enemigos */
.enemy{
    background-color: blue;
    height:100px;
    border-radius: 10px;
    width:50px;
    position:absolute;
    bottom:120px;
    background:url(../recursos/car.png);
    background-repeat: no-repeat;
    background-size: 50px 100px;
}
/* tablero de puntuacion */
.score{
    position:absolute;
    bottom:15px;
    right:40px;
    background: #4410ac;
    widows: 300px;
    height:50px;
    width:120px;
    text-align:center;
    font-size: 1.5em;
    color:white;
    font-family: fantasy;
    box-shadow: 0 5px 5px #777;
}
/*cuadro de texto inicial*/
.startScreen{
    position:absolute;
    top:20%;
    left:50%;
    background: #00ffff;
    transform:translate(-50%,-50%);
    color:rgb(0, 0, 0);
    z-index: 1;
    text-align:center;
    border:1px solid #000000;
    padding:15px;
    margin:auto;
    width:50%;
    cursor: pointer;
    font-family: carfont;
    letter-spacing: 5;
    font-size: 20px;
    word-spacing: 3;
    line-height: 30px;
    text-transform: upper;
    box-shadow: 0 5px 5px #ffffff;
}